{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block mt_title %}{{ section.title }} - {{ config.title }}{% endblock mt_title %}
{% block mt_desc %}{{ section.description }}{% endblock mt_desc %}

{% block og_url %}{{ section.permalink | safe }}{% endblock og_url %}
{% block og_title %}{{ section.title }} - {{ config.title }}{% endblock og_title %}
{% block og_desc %}{{ section.description }}{% endblock og_desc %}

{% block content %}
<ul>
  {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}