{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block mt_title %}{{ section.title }} - {{ config.title }}{% endblock mt_title %}
{% block mt_desc %}{{ section.description }}{% endblock mt_desc %}

{% block og_url %}{{ section.permalink | safe }}{% endblock og_url %}
{% block og_title %}{{ section.title }} - {{ config.title }}{% endblock og_title %}
{% block og_desc %}{{ section.description }}{% endblock og_desc %}

{% block content %}
{% for year, pages in paginator.pages | group_by(attribute="year") %}
  <h2>{{ year }} </h2>
  <div class="space-y-4">
    {% for page in pages %}
      <div>
        <a href="{{ page.permalink | safe }}" class="text-lg">{{ page.title }}</a>
        <p class="text-sun-800">{{ page.description | safe }}</p>
      </div>
    {% endfor %}
  </div>
{% endfor %}

<nav class="text-center">
  {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}">‹ Newer</a>
  {% endif %}
  {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">Older ›</a>
  {% endif %}
</nav>
{% endblock content %}