{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block mt_title %}{{ page.title }} - {{ config.title }}{% endblock mt_title %}
{% block mt_desc %}{{ page.description }}{% endblock mt_desc %}

{% block og_url %}{{ page.permalink | safe }}{% endblock og_url %}
{% block og_title %}{{ page.title }} - {{ config.title }}{% endblock og_title %}
{% block og_desc %}{{ page.description }}{% endblock og_desc %}

{% block content %}
<article id="{{ page.slug }}">
  <div class="md-meta inner-wrapper">
    <p>{{ page.reading_time }} minute(s) to read</p>
    <h1>{{ page.title }}</h1>
  </div>
  
  <div class="card md-content">{{ page.content | safe }}</div>
  <div class="sticky bottom-0 text-center z-50">
    <div class="subnav-gradient"></div>
    <div class="subnav-content">
      <a href="#top">&#8679; Back to top</a>
    </div>
  </div>
</article>
{% endblock content %}