<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>
<body class="text-base text-gray-800 leading-relaxed font-sans">
  <div class="container max-w-3xl mx-auto">
    <header>
      <nav class="flex py-2">
        <a href="/" class="text-gray-900 font-semibold">{{ config.title }}</a>
        <div class="flex-auto"></div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/writing">Writing</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
  </div>
</body>
</html>