<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{% block mt_title %}{{ config.title }}{% endblock mt_title %}">
  <meta name="description" content="{% block mt_desc %}{{ config.description }}{% endblock mt_desc %}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{% block og_url %}{{ config.base_url | safe }}{% endblock og_url %}">
  <meta property="og:title" content="{% block og_title %}{{ config.title }}{% endblock og_title %}">
  <meta property="og:description" content="{% block og_desc %}{{ config.description }}{% endblock og_desc %}">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/fonts/karla.css">
</head>
<body class="wrapper" id="top">
  {% block header %}
  <header class="inner-wrapper">
    <nav class="flex">
      <a href="/" class="nav-author">
        <img alt="Author Image" title="Hi, I'm Hizzely 👋" src="/author.webp" />
      </a>
      <div class="mx-auto"></div>
      <ul class="nav-links">
        <li><a href="/about/">About</a></li>
        <li><a href="/logs/">Logs</a></li>
      </ul>
    </nav>
  </header>
  {% endblock header %}
  <main>
    {% block content %} {% endblock %}
  </main>
</body>
</html>